h1{color:brown}
.header{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}
.menu{
    color:(#2DF3C2);
    display:flex;
    justify-content: flex-end;
}
.footer{
    color:(#2df337);
    display:flex;
    justify-content: flex-end;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}